.logo{
	width:200px;
	height:100px;
	line-height:50px;
	text-align=center;
	font-size:30px;
	font-weight:bold;
	float:left;
	position:relative;
	left:10px;
	top:22px;
	color:yellow;
}
.logout{
	float:right;
	padding:30px 15px 0 0;
	color:yellow;
	position:relative;
	top:10px;
}
