<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medecine.dby.dao.dbyMapper" >

		<!--判断登录-->
  	<select id="getUser" resultType="com.medecine.dby.pojo.userPojo" parameterType="com.medecine.dby.pojo.userPojo">
  		select * from userInfo where userPhone=#{userPhone} and userPwd=#{userPwd}
  	</select>
  	
  	
  	
  	<!--获取权限-->
  	  <select id="getAuthority" resultType="com.medecine.dby.pojo.userPojo" parameterType="com.medecine.dby.pojo.userPojo">
  		select * from authority where authorityId=#{authorityId}
  	</select>
  	
  	
  	
  	<!--模糊查询用户 -->
  	<select id="getUserAll" resultType="com.medecine.dby.pojo.userPojo" parameterType="com.medecine.dby.pojo.userPojo">
  		select * from userInfo as u inner join authority as a on u.authorityId=a.authorityId where  u.userName like CONCAT('%',#{userName},'%') and u.state like concat('%',#{state},'%') and u.recordtime BETWEEN #{startTime} and #{endTime} limit #{a},#{rows}
  	</select>
  	
	
	<!--模糊查询用户总数 -->
  	<select id="getUserCount" resultType="int" parameterType="com.medecine.dby.pojo.userPojo">
  		select count(*) from userInfo where  userName like CONCAT('%',#{userName},'%') and state like concat('%',#{state},'%') and recordtime BETWEEN #{startTime} and #{endTime}
  	</select>
  	

  	<!-- 新增用户 -->
  	<insert id="addUser"  parameterType="com.medecine.dby.pojo.userPojo" >
  		insert into userinfo (userPhone,userName,userPwd,authorityId,state) values(#{userPhone},#{userName},#{userPwd},#{authorityId},'在职')
  	</insert>
  	
  	<!--修改员工信息 -->
  	 <update id="update" parameterType="com.medecine.dby.pojo.userPojo" >
  	 update userInfo set userPhone=#{userPhone},userName=#{userName},userPwd=#{userPwd},authorityId=#{authorityId} where userId=#{userId}
  	 </update>
  	
 	<!-- 开除员工 -->
 	<update id="delete" parameterType="com.medecine.dby.pojo.userPojo" >
  	 update userInfo set state= '离职' where userId=#{userId}
  	 </update>
  	 
  	 
  	 <!-- 修改密码 -->
 	<update id="updatePwd" parameterType="com.medecine.dby.pojo.userPojo" >
  	 update userInfo set userPwd= #{userPwd} where userId=#{userId}
  	 </update>
  	 
  	 <!-- 查询库存不足药品 -->
  	 <select id="getTixing" resultType="com.medecine.dby.pojo.drugPojo">
  	 	select * from druginfo where drugNum  &lt; tishiNum
  	 </select>
  	 
  	 <!-- 查询不足药品总数 -->
  	 <select id="getDrugCount" resultType="int" >
  	 	select Count(*)from druginfo where drugNum  &lt; tishiNum
  	 </select>
  	 
  	 <!-- 添加登录记录 -->

  	 <insert id="addLogin" parameterType="com.medecine.dby.pojo.userPojo">
  	 	insert into loginInfo (userId,userName) values(#{userId},#{userName})
  	 </insert>
  	 
  	  <!-- 查询登录记录总数 -->
  	 <select id="getLoginCount" resultType="int" >
  	 	select Count(*)from loginInfo 
  	 </select>
  	 
  	 
  	 <!-- 查询登录记录 -->
  	 <select id="getLogin" resultType="com.medecine.dby.pojo.loginPojo">
  	 	select * from loginInfo
  	 </select>
  	 
</mapper>